<% if @friends.length > 0 %>
  <ul>
    <% @friends.each do |f| %>
      <li><%= "#{friend['firstName']} #{friend['lastName']}" %></li>
    <% end %>
  </ul>
<% else %>
  <%= "It looks like you don't have any foursquare friends :(" %>
<% end %>
